body {
  margin: 0;
  padding: 0;
}
.header {
  font-size: 30px;
  color: rgb(245, 111, 15);
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
}
.main-section {
  border-radius: 10px;
  background-color: rgba(159, 243, 243, 0.798);
}
.main-section div:nth-child(1) {
  border-radius: 5px;
  background-color: rgb(230, 230, 160);
  padding: 10px;
  font-size: 30px;
  padding-left: 20px;
}

.main-section div:nth-child(2) {
  border-radius: 5px;
  background-color: rgb(212, 236, 29);
  padding: 10px;
  font-size: 30px;
  padding-left: 20px;
}
.main-section div:nth-child(3) {
  border-radius: 5px;
  background-color: rgb(253, 255, 135);
  padding: 10px;
  font-size: 30px;
  padding-left: 20px;
}
.input-field {
  height: 32px;
  width: 60%;

  padding-left: 20px;
  font-size: 18px;
}
.submit-btn {
  background-color: orangered;
  color: white;
  padding: 8px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: block;
  font-size: 20px;
}
